extends ../layout/page.pug

block content

  form(action='/password-reset/new' method='post').ui-frame.small-width

    h1 Request Password Reset


    include ../layout/region/form-error

    +csrf

    p.form-prompt.
      Enter your email and click <strong>Send Request</strong> to recieve
      a further instructions to reset your password

    label(
      for='email'
      class='required'
    ) Email

    +input(
      id='email'
      type='email'
      name='email'
    )

    input(
      type='submit'
      value='Send Request'
    )

