extends ../layout/page

block content

  form(action=`/password-reset/${args.token}` method='post').ui-frame.small-width

    h1 Reset Your Password

    include ../layout/region/form-error

    +csrf

    label(
      for='password'
    ).required New Password

    +input(
      name='password'
      id='password'
      type='password'
    )

    label(
      for='confirmPassword'
    ).required Confirm Password

    +input(
      name='confirmPassword'
      id='confirmPassword'
      type='password'
    )

    div.actions
      input(
        type='submit'
        value='Change Password'
      )
