extends ../layout/page.pug

block content

  form(action='/sign-up' method='post').ui-frame.small-width

    h1 New Account

    include ../layout/region/form-error.pug

    input(type='hidden' name='csrfToken' value=csrfToken)

    label(
      for='fullName'
    ).required Full name

    +input(
      id='fullName'
      name='fullName'
      type='text'
      placeholder='Frank Alexander'
     )

    label(
      for='email'
    ).required Email

    +input(
      id='email'
      name='email'
      type='email'
      placeholder='falex@example.com'
     )

    p.form-prompt This will become your username

    label(
      for='password'
    ).required Password

    +input(
      id='password'
      name='password'
      type='password'
    )

    div.actions
      input(type='submit' value='Sign Up')

    div.actions
      a(href="/sign-in") Already have an Account?

